<div class="background">
 <a routerLink="/" class="btn-back"> <div class="led-indicator"></div>
  <span class="btn-text">VOLVER_AL_INICIO</span>
</a>

  <div class="main-content">
    <h1 class="title doto-title">PROYECTOS_WEB</h1>

    <div class="projects-grid">
      @for (project of webProjects; track project.title) {
        <mat-card class="dark-card fade-in">
          <div class="mockup-laptop-real">
            <div class="mockup-screen-wrapper">
              <img [src]="project.img" [alt]="project.title" class="mockup-screen" />
              <div class="mockup-reflection"></div>
            </div>
          </div>

          <mat-card-header>
            <mat-card-title class="doto-title red-title">{{ project.title }}</mat-card-title>
            <mat-card-subtitle class="red-subtitle">{{ project.subtitle }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p class="white-text">{{ project.desc }}</p>
          </mat-card-content>

          <mat-card-actions class="actions-center">
  <a mat-stroked-button color="warn" [href]="project.url" target="_blank" class="glow-btn">
    EXPLORAR_APP
  </a>
</mat-card-actions>
        </mat-card>
      }
    </div>

    <h1 class="title doto-title mt-80">PROYECTOS_HUMANITARIOS</h1>

    <div class="videos-grid">
      @for (video of videos; track video.id) {
        <mat-card class="dark-card fade-in-video">
          <div class="video-container">
            <iframe [src]="getSafeUrl(video.id)" frameborder="0" allowfullscreen class="video-frame"></iframe>
          </div>
          <mat-card-header>
            <mat-card-title class="doto-title red-title small-title">{{ video.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="white-text small-desc">{{ video.desc }}</p>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
</div>
