/* Importante para que los componentes de Material no se vean raros */
@import "@angular/material/prebuilt-themes/purple-green.css";

html, body {
  height: 100%;
  margin: 0;
  background-color: black; /* Fondo negro obligatorio */
  color: white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
